body, html {
    padding: 0;
    margin: 0;
    font-family: "myFont";
    
}
@font-face {
    font-family: 'MyFont';
    src: url('./assests/Fredoka-Medium.ttf') format('truetype');
  }
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
nav button 
{
    font-family: "MyFont";
    width: 100%;
    height: 100%;
    border-radius:20px ; 
    font-weight: 600;
    font-size: 30px;
    color: white;
    background-color: #3da9fc;
    cursor: pointer;
    border-top:0;
    border-bottom: 0;
}
.homepage {

    display: flex;
    flex-direction: column;  
    align-items: center; 
    justify-content: center;
    height: 100%; 
}

.welcome-text {
    position: absolute;
    top:25%; 
    left: 50%; 
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%); 
    background-color: rgba(255, 255, 255, 0.5); 
    font-size: 40px;
    color:white ; 
    font-weight: 800;
    letter-spacing: 5px;
}

video {
    width: 100%;
    height:70%;
}

.infos 
{
    display: flex;
    flex-direction: rows;
    width: 100%; 
    align-items: start;
    font-weight: 400;
}

.infos .left
{
    height: 80px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.infos .left div
{
    width: 40%;
}
.infos .right img
{   
    width: 40px;
    height: 40px;

}
.infos .right
{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}