html,body {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100vh;
    background-image: url(./assests/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

nav {
    grid-row: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
}
nav button
{
    background-color: yellow;
}
.content
{
    grid-row: 2;
    background-color: rgba(0, 0, 0, 0.5); 
}
